body {
  font-family: 'Cinzel', serif;
  background: #0e0e0e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.card {
  margin-top: 20px;
  padding: 20px;
  border: 3px double #aaa;
  width: 300px;
  background: #111;
  border-radius: 12px;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.cardTitle {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
